#titular{
    margin-bottom: 3px;
}
#titulo{
    margin-left: 50px;
}
#periodico{
    padding-left: 30px;
}
#letras{
    /* Sustituir número por letras */
    list-style-type: lower-latin;
    margin-left: 50px;
}
#numeros-romanos{
    /* Sustituir número por números romanos */
    list-style-type: upper-roman;
    margin-left: 50px;
}