body {
  background-color: bisque;
}
.titulo-ppal{
  background-color: blueviolet;
}
/* Eliminación de los puntos en la lista */
ul {
  list-style: none;
  /* padding: 0; */
}
.titulo {
  color: rgb(127, 161, 255);
}
