
#container{
    background-image: url("../img/ac.jpg");
    height: 80vh;
    background-position: center;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: 50px;
    margin-left: 200px;
  
}

#contenido-tabla{

    align-items: center;
    justify-content: center;
    padding-top: 100px;
    
}

table{
    margin: 0 auto;
    border-spacing: 20px 40px;
}

#superior{
   
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
}
#superior01{
   
    background-image: url("../img/back_mantel.jpg");
    width: 80px;
    height: 80px;
    margin: 20px;


}

#superior02{
    
    background-image: url("../img/back_mantel.jpg");
    background-size: 10% 10%;
    width: 80px;
    height: 80px;
    margin: 20px;

}

#superior03{
    
    background-image: url("../img/back_mantel.jpg");
    background-size: 100% 100%;
    width: 80px;
    height: 80px;
    margin: 20px;
}

#superior04{

    background-color: white;
    width: 80px;
    height: 80px;
    margin: 20px;

    display: flex;
    align-items:center;
    text-align: justify;
    
 
}
/* clases para posicionar imagenes */
.superior02{
    
    width: 60px;
    height: 60px;
    padding: 10px;
   
}

/* clases para posicionar imagenes */
.superior04{
    
    width: 60px;
    height: 60px;
    padding: 10px;
   
}
#medio{
  
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

#medio01{

    background-image: url("../img/dh.jpg");
    background-size: cover; 
    background-position: center;
    
    width: 80px;
    height: 80px;
    margin: 20px;
   
}

#medio02{
    
    background-color: white;
    width: 80px;
    height: 80px;
    margin: 20px;

    display: flex;
    align-items:center;
    text-align: justify;
    
}

#medio03{
    
    background-color: white;
    width: 80px;
    height: 80px;
    margin: 20px;

    display: flex;
    align-items:center;
    text-align: justify;
    
   
}

#medio04{
    
    background-color: white;
    width: 80px;
    height: 80px;
    margin: 20px;

    display: flex;
    align-items:center;
    text-align: justify;
    
   
}
/* clases para posicionar imagenes */
.medio02{
    
    width: 60px;
    height: 60px;
    padding: 10px;
   
}
/* clases para posicionar imagenes */
.medio03{
    
    width: 80px;
    height: 40px;
   
}
.medio04{
    
    width: 40px;
    height: 80px;
    padding: 20px;
   
}

#inferior{
   
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

#inferior01{

    background: -webkit-linear-gradient(left, rgb(187, 255, 0), rgb(48, 148, 39));  
    width: 80px;
    height: 80px;
    margin: 20px;  
<<<<<<< HEAD
=======
}

#inferior02{
    
    /* Generado con CSS Gradient */
    background: linear-gradient(0deg, rgba(34,183,185,1) 40%, rgba(89,208,209,1) 45%, rgba(250,250,250,1) 100%);
    width: 80px;
    height: 80px;
    margin: 20px;
}

#inferior03{
    
   
    background: -webkit-linear-gradient(top, rgb(255, 232, 21), rgb(175, 144, 4));  
    width: 80px;
    height: 80px;
    margin: 20px;

}

#inferior04{
    
    /* Generado con CSS Gradient */
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,160,45,0) 100%);
    width: 80px;
    height: 80px;
    margin: 20px;
>>>>>>> a537381e8ff21297873fbb8346517143c19fe562
}

#inferior02{
    
    /* Generado con CSS Gradient */
    background: linear-gradient(0deg, rgba(34,183,185,1) 40%, rgba(89,208,209,1) 45%, rgba(250,250,250,1) 100%);
    width: 80px;
    height: 80px;
    margin: 20px;
}

#inferior03{
    
   
    background: -webkit-linear-gradient(top, rgb(255, 232, 21), rgb(175, 144, 4));  
    width: 80px;
    height: 80px;
    margin: 20px;

}
#inferior04{
    
    /* Generado con CSS Gradient */
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,160,45,0) 100%);
    width: 80px;
    height: 80px;
    margin: 20px;
}

