body{
  
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:50%;

}

table{
    width: 45vw;
    border: 3px solid rgb(161, 161, 161);
    border-collapse: collapse;
    
    
}

tr, td, th {
    border: 2px solid rgb(161, 161, 161);
    border-collapse: collapse;
    border-color: rgb(216, 213, 213);
    
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#encabezado{
    background-color: antiquewhite;
}
#celdas{
    background-color: yellow;
    text-align: center;
}