
/* imagen de Mario Bros en el div superior */
#imagen01-sup{
   
background-image: url("../img/f02.png");
background-repeat: no-repeat;
width: 50vh;
height: 22vh;
background-position: bottom;

/* imagen de la base Mario Bros en el div superior */
}
#imagen01-base-sup{
background-image: url("../img/f01.png");
background-repeat:repeat-x;
width: 50vh;
height: 22vh;
background-position: bottom;

}
/* imagen de las nubes en el div superior e inferior */
#imagen01-nubes{

background-color: blue;
background-image: url("../img/f03.png");
width: 50vh;
height: 22vh;
margin-left: 20px;

}
/* imagen de las nubes en el div central */
#imagen02{
background-image: url("../img/f03.png");
background-repeat:repeat-x;

height: 50vh;
width: auto;

}

/* imagen de Mario Bros en el div central */
#imagen02-mario{
   
    background-image: url("../img/f02.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 50vh;
    width: auto;
}

/* imagen de la base Mario Bros en el div central */
#imagen02-base{
    background-image: url("../img/f01.png");
    background-position: bottom;
    background-repeat:repeat-x;
    height: 50vh;
    width: 50vh;
    margin-left: 20px;
    

}

/* imagen de Mario Bros en el div inferior */
#imagen01-inf{
    background-image: url("../img/f02.png");
    background-repeat: no-repeat;
    width: 50vh;
    height: 22vh;
    background-position: bottom;
    }


/* imagen de la base Mario Bros en el div inferior */  
#imagen01-base-inf{
        background-image: url("../img/f01.png");
        background-repeat:repeat-x;
        width: 50vh;
        height: 22vh;
        background-position: bottom;
}
