table, tr, td, th {
    border: 2px solid rgb(161, 161, 161);
    /* border-collapse: collapse; */
    border-color: rgb(216, 213, 213);
    
}
#titulos{
    text-align: center;
    font-weight: bold;
}